.navv {
    background-color: black;
    text-align: center;
}

.counter {
    color: black;
    font-family: 'rickandmorty';
}
.instructions {
    color: darkred;
    font-family: 'rickandmorty';
}

.title {
    color: #ff8300;
    font-family: 'rickandmorty';
}

@font-face {
    font-family: 'rickandmorty';
    src: url('get_schwifty.ttf');
}